<div>
    <%= form_with url: rakutens_rakuten_search_path(params[:keyword]), method: :get, local:true do |f| %>
        <%= f.label :keyword, "キーワード検索" %>
        <%= f.text_field :keyword %>
        <%= f.submit "検索" %>
    <% end %>
    <div class="container">
        <% if @items.present? %>
        <div class="row flex-wrap">
            <% @items.each do |item| %>
                <%= link_to  "#{item.item_url}", class:"col-2 m-2" do %>
                    <%= image_tag item.large_image_url, :width => '100%', :height => '100%' %>
                <% end %>
            <% end %>
        </div>
        <% end %>
    </div>
</div>