<table class='table'>
  <tbody>
      <tr>
        <th></th>
        <th>グループ名</th>
        <th>紹介文</th>
        <th>メンバー</th>
        <th></th>
      </tr>
      <tr>
        <td><%= attachment_image_tag(group, :group_image, :fill, 50, 50, fallback: "no-image-icon.jpg") %></td>
        <td><%= group.name %></td>
        <td><%= group.introduction %></td>
        <td>
          <% group.users.each do |member| %>
            <%= member.name %></br>
          <% end %>
        </td>
        <td>
          <% if group.orner_id == current_user.id %>
            <%= link_to "edit",edit_user_group_path(group),class:"btn btn-info btn-block", class: "btn btn-sm btn-success" %>
          <% elsif group.users.include?(current_user) %>
            <%= link_to "Leave thos group", user_group_path(group), method: :delete, class: "btn btn-sm btn-danger", data: { disable_with: '退会中...' }  %>
          <% else %>
            <%= link_to "Join this group",user_group_join_path(group), class:"btn btn-sm btn-success", data: { disable_with: '参加中...' } %>
          <% end %>
        </td>
      </tr>
  </tbody>
</table>
